<footer class="footer mt-auto py-3 text-center" style="background-color: rgb(5, 151, 0);">
    <div class="container-fluid">
        <div class="row">
            <!-- Coluna com links -->
            <div class="col-md-6 mb-3">
                <h5>Links Úteis</h5>
                <ul class="list-unstyled">
                    <li><a href="{% url 'about_us' %}" class="text-white">Sobre nós</a></li>
                    <li><a href="{% url 'delivery_info' %}" class="text-white">Informações de Envio</a></li>
                    <li><a href="{% url 'privacy_policy' %}" class="text-white">Política de Privacidade</a></li>
                </ul>
            </div>
            <!-- Coluna com dados de contato -->
            <div class="col-md-6 mb-3">
                <h5>Contato</h5>
                <ul class="list-unstyled">
                    <li class="text-white">Whatsapp: <a href="tel:+32471846113" class="text-white">+32 471 84 6113</a></li>
                    <li class="text-white">Email: <a href="mailto:info@sacolao.be" class="text-white">info@sacolao.be</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <span class="text-white">&copy; 2024 Sacolão SRL. Todos os direitos reservados.</span>
            </div>
        </div>
    </div>
</footer>
