<form class="d-flex flex-column">
  <div class="card product-card">
    <a href="{% url 'store_product_detail' product.pk product.name|slugify %}" class="link-unstyled text-decoration-none text-dark">
      <div class="position-relative ratio ratio-1x1 fixed-height-img mx-auto d-block mt-3">
        {% if product.image %}
        <img src="{{ product.image.url }}" class="img-fluid img-center" alt="{{ product.name }}">
        {% else %}
        <img src="{{ product_default_url }}" class="img-fluid img-center" alt="{{ product.name }}">
        {% endif %}

        <div class="alert-container">
          {% if product.promotion_product %}
          <div class="promotion-alert" role="alert">
            Promoção
          </div>
          {% endif %}

          {% if product.best_seller_product %}
          <div class="best-seller-alert" role="alert">
            Popular
          </div>
          {% endif %}

          {% if product.fresh_product_product %}
          <div class="fresh-product-alert" role="alert">
            Novo
          </div>
          {% endif %}
        </div>
      </div>
      <div class="card-body">
        <!-- Adiciona a marca do produto -->
        <p class="product-brand">
          <a href="{% url 'store_products_by_brand' brand_name=product.brand.name %}" class="product-brand">{{ product.brand.name }}</a>
        </p>
        <h5 class="card-title text-center product-name mb-2 mb-sm-3">
          {{ product.name }}{% if product.volume %}, {{ product.volume }}{{ product.package_unit.symbol }} {% endif %}
        </h5>
    </a>
        <div class="text-center mb-3">
          {% if product.promotion_product.active %}
          <p class="card-text">
            <span style="text-decoration: line-through; color: red;">€ {{ product.selling_price }}</span>
            <span>€ {{ product.promotion_product.promotion_price }}</span>
          </p>
          {% else %}
          <p class="card-text">€ {{ product.selling_price }}</p>
          {% endif %}
        </div>
      </div>
      <div class="d-flex justify-content-center align-items-center mb-1 d-grid">
        <button class="btn btn-warning btn-quantity-left" type="button" onclick="changeQuantity('{{ product.id }}', 'decrement')">-</button>
        <input type="number" id="quantity_{{ product.id }}" class="form-control form-control-sm mx-0 text-center quantity-input no-spinners" value="1" min="1" max="">
        <button class="btn btn-warning btn-quantity-right" type="button" onclick="changeQuantity('{{ product.id }}', 'increment')">+</button>
      </div>
      <div class="d-grid gap-3">
        <button class="btn btn-warning" type="button" onclick="addToCart('{{ product.id }}')">Adicionar</button>
      </div>
  </div>
</form>

{% block extra_styles %}
<style>
  /* Altura fixa para as imagens */
  .fixed-height-img {
    height: 200px;
    overflow: hidden;
    position: relative;
  }

  /* Centraliza a imagem horizontalmente */
  .img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
  }

  .product-brand {
      color: #6f6f6f;
      font-size: 1rem;
      font-weight: 600;
      margin-bottom: 0;
      text-decoration: none;
      text-align: center !important;
  }

  /* Espaçamento do nome do produto, altura de 2 linhas */
  .product-name {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 2.5rem;
    line-height: 1.2rem;
    font-size: 16px;
  }

  /* Remove os spinners do input de quantidade */
  .no-spinners {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    appearance: textfield;
  }

  .no-spinners::-webkit-outer-spin-button,
  .no-spinners::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Estilização dos botões de quantidade */
  .btn-quantity-left {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 8rem;
  }

  .btn-quantity-right {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 8rem;
  }

  .quantity-input {
    margin-left: -1px;
    /* Remove o espaço entre o input e os botões */
    margin-right: -1px;
    /* Remove o espaço entre o input e os botões */
    height: calc(2.25rem + 2px);
    /* Ajuste a altura para corresponder aos botões */
    border-radius: 0;
  }

  /* Estilização dos alertas */
  .alert-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    /* Espaçamento entre os alertas */
  }

  .promotion-alert,
  .best-seller-alert,
  .fresh-product-alert {
    color: white;
    text-align: center;
    font-size: 1rem;
    height: 1.5rem;
    width: 6rem;
    margin-top: -5px;
  }

  /* Cores específicas para cada alerta */
  .promotion-alert {
    background-color: rgba(220, 53, 69, 0.7);
  }

  .best-seller-alert {
    background-color: rgba(8, 141, 19, 0.7);
  }

  .fresh-product-alert {
    background-color: rgba(8, 8, 141, 0.7);
  }

  .product-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    border: 0;
  }

  .product-card {
    border: 0px;
    background-color: rgb(249, 249, 249);
  }
</style>
{% endblock %}

{% block extra_scripts %}
<script>
  function changeQuantity(productId, action) {
    var inputId = 'quantity_' + productId;
    var input = document.getElementById(inputId);
    var value = parseInt(input.value);

    if (action === 'increment') {
      input.value = value + 1;
    } else if (action === 'decrement' && value > 1) {
      input.value = value - 1;
    }
  }

  function addToCart(productId) {
    var quantity = document.getElementById('quantity_' + productId).value;

    $.ajax({
        url: "{% url 'add_to_cart_ajax' %}",
        type: "POST",
        data: {
            'product_id': productId,
            'quantity': quantity,
            'csrfmiddlewaretoken': '{{ csrf_token }}'
        },
        success: function(response) {
            if (response.cart_data) {
                var totalItemsElements = document.querySelectorAll('.cart-total-items');
                var totalCostElements = document.querySelectorAll('.cart-total-cost');

                totalItemsElements.forEach(function(element) {
                    element.textContent = response.cart_data.total_items;
                });

                totalCostElements.forEach(function(element) {
                    element.textContent = '€' + response.cart_data.total_cost.toFixed(2);
                });

                // Atualizar o conteúdo do offcanvas
                $.ajax({
                    url: "{% url 'cart_detail' %}",  // URL da view que renderiza o offcanvas completo
                    success: function(offcanvasResponse) {
                        var offcanvasElement = $('#cartOffcanvas');
                        var newContent = $(offcanvasResponse.html);

                        // Atualizar o corpo do offcanvas
                        offcanvasElement.find('.offcanvas-body').html(newContent.find('#cart-items-container').html());
                    },
                    error: function(xhr, status, error) {
                        console.error("Ocorreu um erro ao atualizar o offcanvas: " + error);
                    }
                });

                // Atualizar o conteúdo do offcanvas
                $.ajax({
                    url: "{% url 'cart_detail' %}",  // URL da view que renderiza o offcanvas completo
                    success: function(offcanvasResponse) {
                        var offcanvasElement = $('#cartOffcanvas');
                        
                        // Encontrar e atualizar apenas o conteúdo do #cart-items-container
                        var newContent = $(offcanvasResponse);
                        var newItemsContainer = newContent.find('#cart-items-container').html();
                        var footerContent = offcanvasElement.find('.cart-footer').html();  // Manter o footer atual

                        offcanvasElement.find('.offcanvas-body').html(newItemsContainer + '<div class="cart-footer">' + footerContent + '</div>');

                        // Atualizar o total no footer
                        $('#cartOffcanvas .cart-total-cost').text('€' + response.cart_data.total_cost.toFixed(2).replace('.', ','));
                    },
                    error: function(xhr, status, error) {
                        console.error("Ocorreu um erro ao atualizar o offcanvas: " + error);
                    }
                });


            } else {
                console.error('Resposta AJAX inválida:', response);
            }
        },
        error: function(xhr, status, error) {
            console.error("Ocorreu um erro: " + error);
        }
    });
  }

  function changeProductsPerPage() {
    var selectedValue = document.getElementById('productsPerPage').value;
    var currentUrl = new URL(window.location.href);
    currentUrl.searchParams.set('products_per_page', selectedValue);
    window.location.href = currentUrl.href;
  }
</script>
{% endblock %}
