{% extends 'base.html' %}

{% block title %}
Preços dos Produtos dos Fornecedores
{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2 class="mb-0">Preços dos Produtos dos Fornecedores</h2>
        <a href="{% url 'supplier_product_price_create' %}" class="btn btn-success">
            <i class="bi bi-plus"></i> Novo Preço do Produto
        </a>
    </div>

    <div class="table-responsive">
        <table id="supplierProductPriceTable" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Fornecedor</th>
                    <th>Produto</th>
                    <th>Marca</th>
                    <th>Tamanho</th>
                    <th>Qtd</th>
                    <th>Valor</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for supplier_product_price in supplier_product_prices %}
                <tr>
                    <td>{{ supplier_product_price.supplier.name }}</td>
                    <td>{{ supplier_product_price.product.name }}</td>
                    <td>{{ supplier_product_price.product.brand }}</td>
                    <td>{{ supplier_product_price.product.volume }} {{ supplier_product_price.product.package_unit.symbol }}</td>
                    <td>{{ supplier_product_price.box_quantity }}</td>
                    <td>{{ supplier_product_price.purchase_price }}</td>
                    <td>
                        <a href="{% url 'supplier_product_price_detail' supplier_product_price.id %}" class="btn btn-info btn-sm">
                            <i class="bi bi-eye"></i> Detalhes
                        </a>
                        <a href="{% url 'supplier_product_price_update' supplier_product_price.id %}" class="btn btn-warning btn-sm">
                            <i class="bi bi-pencil"></i> Editar
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block extra_scripts %}
<script>
  $(document).ready(function() {
      $('#supplierProductPriceTable').DataTable({
          order: [[0, 'asc']],
          paging: true,
          searching: true,
          info: true,
          ordering: true,
          language: {
            lengthMenu: "Exibir _MENU_ por página",
            search: "Buscar:",
            searchPlaceholder: "Pesquisar preços...",
            info: "Exibindo _START_ a _END_ de _TOTAL_ preços",
            infoEmpty: "Nenhum preço encontrado",
            infoFiltered: "(filtrado de _MAX_ preços no total)"
          }
      });
  });
</script>
{% endblock %}
