{% extends 'base_store.html' %}

{% block title %}Senha Redefinida - Sacolão{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card">
                <div class="card-header bg-secondary text-white text-center">
                    <h1>Senha redefinida com sucesso</h1>
                </div>
                <div class="card-body">
                    <p class="text-center">Agora você pode acessar sua conta utilizando sua nova senha.</p>
                    <h2 class="text-center mb-4">Acesse sua conta</h2>
                    <form method="post" action="{% url 'gestao' %}">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="id_username" class="form-label">Email / Usuário:</label>
                            <input type="text" class="form-control" id="id_username" name="username" placeholder="Digite seu email">
                        </div>
                        <div class="mb-3">
                            <label for="id_password" class="form-label">Senha:</label>
                            <input type="password" class="form-control" id="id_password" name="password" placeholder="Digite sua senha">
                            <div class="d-flex justify-content-end mt-2">
                                <a href="{% url 'password_reset' %}" class="text-decoration-none">Esqueci minha senha</a>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary w-100">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
