{% extends 'base_store.html' %}

{% block title %}E-mail Enviado - Sacolão{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card">
                <div class="card-header bg-secondary text-white text-center">
                    <h1>Verifique seu e-mail</h1>
                </div>
                <div class="card-body text-center">
                    <p>Se o e-mail informado estiver cadastrado em nosso sistema, você receberá um link para redefinir sua senha.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
