{% extends 'base_store.html' %}

{% block title %}
{{ product.name }}
{% if product.brand %} {{ product.brand }} {% endif %}
{% if product.volume %}, {{ product.volume }} {{ product.package_unit.symbol }} {% endif %}
{% endblock %}

{% block content %}
<div class="container mt-4">
  <div class="row">
    <!-- Foto do Produto -->
    <div class="col-md-6">
      {% if product.image %}
      <img src="{{ product.image.url }}" class="img-fluid" alt="{{ product.name }}">
      {% else %}
      <img src="{{ product_default_url }}" class="img-fluid" alt="{{ product.name }}">
      {% endif %}
    </div>

    <!-- Detalhes do Produto -->
    <div class="col-md-6 mt-5">
      <h2>{{ product.name }} {% if product.brand %} {{ product.brand }} {% endif %} {% if product.volume %}
        {{ product.volume }} {{ product.package_unit.symbol }} {% endif %}</h2>

      <!-- Preço -->
      <div class="mb-3">
        {% if product.promotion_product and product.promotion_product.active %}
        <p class="text-muted" style="text-decoration: line-through; color: red;">
          € {{ product.selling_price }}
        </p>
        <p class="text-danger" style="font-size: 1.5rem;">
          € {{ product.promotion_product.promotion_price }}
        </p>
        {% else %}
        <p style="font-size: 1.5rem;">€ {{ product.selling_price }}</p>
        {% endif %}
      </div>

      <!-- Quantidade e Botão Adicionar ao Carrinho -->
      <div class="d-flex align-items-center mb-3">
        <button class="btn btn-warning btn-quantity-left" type="button"
          onclick="changeQuantity('{{ product.id }}', 'decrement')">-</button>
        <input type="number" id="quantity_{{ product.id }}"
          class="form-control form-control-sm mx-2 text-center quantity-input no-spinners" value="1" min="1" max="">
        <button class="btn btn-warning btn-quantity-right" type="button" onclick="changeQuantity('{{ product.id }}', 'increment')">+</button>
      </div>
      <button class="btn btn-warning" type="button" onclick="addToCart('{{ product.id }}')">Adicionar</button>
    </div>
  </div>

  <div class="row mb-4 mt-4">
    <!-- Tabs de Ingredientes e Tabela Nutricional -->
    <ul class="nav nav-tabs mt-4" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="ingredients-tab" data-bs-toggle="tab" href="#ingredients" role="tab"
          aria-controls="ingredients" aria-selected="true">Ingredientes</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="conservation_instructions-tab" data-bs-toggle="tab" href="#conservation_instructions" role="tab"
          aria-controls="conservation_instructions" aria-selected="false">Instruções para Conservação</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="nutritional-tab" data-bs-toggle="tab" href="#nutritional" role="tab"
          aria-controls="nutritional" aria-selected="false">Tabela Nutricional</a>
      </li>
    </ul>

    <!-- Conteúdo das Tabs -->
    <div class="tab-content tab-content-container" id="myTabContent">
      <!-- Tab de Ingredientes -->
      <div class="tab-pane fade show active" id="ingredients" role="tabpanel" aria-labelledby="ingredients-tab">
        <div class="mt-4">
          <h3>Ingredientes:</h3>
          <p>{{ ingredients.ingredients }}</p>
        </div>
        <div class="mt-4">
          <h3>Alergênicos:</h3>
          <p>{{ ingredients.allergens }}</p>
        </div>
      </div>
      
      <!-- Tab Instruções de conservação -->
      <div class="tab-pane fade" id="conservation_instructions" role="tabpanel" aria-labelledby="conservation_instructions-tab">
        <div class="mt-4">
          <h3>Instruções para Conservação:</h3>
          <p>{{ ingredients.conservation_instructions }}</p>
        </div>
      </div>

      <!-- Tab de Tabela Nutricional -->
      <div class="tab-pane fade" id="nutritional" role="tabpanel" aria-labelledby="nutritional-tab">
        <div class="mt-4">
          <h3>Tabela Nutricional:</h3>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Item Nutricional</th>
                <th>Quantidade</th>
              </tr>
            </thead>
            <tbody>
              {% for info in nutritional_infos %}
              <tr>
                <td>{{ info.nutritional_item }}</td>
                <td>{{ info.quantity }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_scripts %}
<script>
  function changeQuantity(productId, action) {
    var inputId = 'quantity_' + productId;
    var input = document.getElementById(inputId);
    var value = parseInt(input.value);

    if (action === 'increment') {
      input.value = value + 1;
    } else if (action === 'decrement' && value > 1) {
      input.value = value - 1;
    }
  }

  function addToCart(productId) {
    var quantity = document.getElementById('quantity_' + productId).value;

    $.ajax({
        url: "{% url 'add_to_cart_ajax' %}",
        type: "POST",
        data: {
            'product_id': productId,
            'quantity': quantity,
            'csrfmiddlewaretoken': '{{ csrf_token }}'
        },
        success: function(response) {
            if (response.cart_data) {
                var totalItemsElements = document.querySelectorAll('.cart-total-items');
                var totalCostElements = document.querySelectorAll('.cart-total-cost');

                totalItemsElements.forEach(function(element) {
                    element.textContent = response.cart_data.total_items;
                });

                totalCostElements.forEach(function(element) {
                    element.textContent = '€' + response.cart_data.total_cost.toFixed(2);
                });

                // Atualizar o conteúdo do offcanvas
                $.ajax({
                    url: "{% url 'cart_detail' %}",  // URL da view que renderiza o offcanvas completo
                    success: function(offcanvasResponse) {
                        var offcanvasElement = $('#cartOffcanvas');
                        var newContent = $(offcanvasResponse.html);

                        // Atualizar o corpo do offcanvas
                        offcanvasElement.find('.offcanvas-body').html(newContent.find('#cart-items-container').html());
                    },
                    error: function(xhr, status, error) {
                        console.error("Ocorreu um erro ao atualizar o offcanvas: " + error);
                    }
                });

                // Atualizar o conteúdo do offcanvas
                $.ajax({
                    url: "{% url 'cart_detail' %}",  // URL da view que renderiza o offcanvas completo
                    success: function(offcanvasResponse) {
                        var offcanvasElement = $('#cartOffcanvas');
                        
                        // Encontrar e atualizar apenas o conteúdo do #cart-items-container
                        var newContent = $(offcanvasResponse);
                        var newItemsContainer = newContent.find('#cart-items-container').html();
                        var footerContent = offcanvasElement.find('.cart-footer').html();  // Manter o footer atual

                        offcanvasElement.find('.offcanvas-body').html(newItemsContainer + '<div class="cart-footer">' + footerContent + '</div>');

                        // Atualizar o total no footer
                        $('#cartOffcanvas .cart-total-cost').text('€' + response.cart_data.total_cost.toFixed(2).replace('.', ','));
                    },
                    error: function(xhr, status, error) {
                        console.error("Ocorreu um erro ao atualizar o offcanvas: " + error);
                    }
                });


            } else {
                console.error('Resposta AJAX inválida:', response);
            }
        },
        error: function(xhr, status, error) {
            console.error("Ocorreu um erro: " + error);
        }
    });
  }
</script>
{% endblock %}

{% block extra_styles %}
<style>
  .img-fluid {
    max-height: 500px;
    object-fit: contain;
    width: 100%;
  }

  .quantity-input {
    width: 60px;
  }

  .btn-quantity-left,
  .btn-quantity-right {
    width: 50px;
  }

  .tab-content-container {
    height: 400px; /* Altura fixa desejada */
    overflow-y: auto; /* Adiciona uma barra de rolagem vertical caso necessário */
  }

  .tab-pane {
    padding: 10px; /* Espaçamento interno para o conteúdo das tabs */
  }

  .nav-tabs {
    margin-bottom: 10px; /* Espaçamento inferior para separar das tabs do conteúdo */
  }
</style>
{% endblock %}